@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("//ssl.gstatic.com/fonts/roboto/v9/xZQOmYg4x3YaWkTJi1kErvesZW2xOQ-xsNqO47m55DA.woff") format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("//ssl.gstatic.com/fonts/roboto/v9/xypMPkk3qWn0aVtKdo69mQLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("//ssl.gstatic.com/fonts/roboto/v9/wdhR8z_EejC7uAMUf1gPYgLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("//fonts.googleapis.com/css?family=Roboto:100");
}
body {
  font-family: Roboto, sans-serif;
}
article h1 {
  font-family: Roboto, sans-serif;
}
articlefirst-child h1 {
  font-weight: 100;
  font-size: 45px;
}
article time {
  color: #808080;
  font-size: smaller;
}
article address {
  display: none;
}
article img {
  display: block;
  margin: 5px 0px 5px 0px;
}
